<ul *ngFor="let user of users; index as i">
<li [style.color]="i%2==0 ? 'blue':'red'">
     {{user.firstName}}-{{user.age}} <span *ngIf="user.age>18">Can Vote</span>
  </li>
  <hr>
</ul>
<input (keyup)="onkey($event)">
<p>Hello {{greet}}  {{Name}}</p>
<div>
    <span>Direct child of div</span>
</div>
<div>
    <p>
        <span>Not a direct child of div</span>
    </p>
</div>
<h2 *ngIf="show;else elseBlock">No data to display</h2>
<ng-template #elseBlock>
<table>
    <thead>
        <th>SrNo</th>
        <th>ID</th>
        <th>Name</th>
        <th>Cgpa</th>
        <th>DOB</th>
    </thead>
    <tbody>
        <tr *ngFor="let data of students" [style.background-color]="getBackgroundColor(data.cgpa)" >
            <th>{{data.srno}}</th>
            <th>{{data.id}}</th>
            <th>{{data.firstName}}</th>
            <th>{{data.cgpa}}</th>
            <th>{{data.dob}}</th>
        </tr>
    </tbody>
</table>
</ng-template>