div span{
    text-align: center;
    background-color: red;
}
div >span{
    text-align: center;
    background-color: green;
}
div p {
    background-color: yellow;
}
table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }