<p>Rating-{{rating}}</p>
<div [style.width]="getWidth()" style="overflow-x:hidden;position:fixed;">
    <!-- <i class="fa fa-star star"></i>
    <i class="fa fa-star star"></i>
    <i class="fa fa-star star"></i>
    <i class="fa fa-star star"></i>
    <i class="fa fa-star star"></i> -->
    <span class="star">☆</span>
    <span class="star">☆</span>
    <span class="star">☆</span>
    <span class="star">☆</span>
    <span class="star">☆</span>
</div>
<br/>
<!-- <span style="border: 1px solid red;overflow:hidden;width:20px;background-color:red;">222222222</span> -->
