<!-- <p>user-detail works! {{userID}}</p> -->
<div class="container"><h2><i class="fa fa-user-circle" (click)="goToProfile()"></i>Hello {{userName}}</h2></div>
<div class="container">
<table *ngIf="isHobbyData;else h">
    <h3>Your Hobbies</h3>
    <tr>
        <th>Name</th>
        <th>Delete</th>
        <th></th>
    </tr>
    <tr *ngFor="let hobby of hobbies">
        <td>{{hobby.HobbyName}}</td>
        <td><button (click)="deleteHobby(hobby)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
    </tr>
</table> 
<ng-template #h>
    <h3>You haven't registered your hobbies</h3>
</ng-template>
<button type="button" class="btn btn-info btn-lg" (click)="openModal()">Register New Hobby</button>
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
         <div class="modal-dialog" role="document">
               <div class="modal-content">
                     <div class="modal-header">
                           <h4 class="modal-title">Model Title</h4>
                           <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                         </div>
                <div class="modal-body">
                    <label for="exampleInputEmail1" class="form-label">Enter your hobby name</label>
                    <input type="email"  class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" [(ngModel)]="hobbyName">
                         </div>
                     <div class="modal-footer">
                           <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Add Hobby</button>
                         </div>
            </div>
             </div>
 </div>
  <!-- <p>ADD HOBBY</p> -->
</div>
<!-- <button class=".example1">Add Hobby</button> -->
<div class="container">
<table *ngIf="isCourseData;else e">
    <h3>Your Enrolled Courses</h3>
    <tr>
        <th>Name</th>
        <th>Delete</th>
        <th></th>
    </tr>
    <tr *ngFor="let c of courses">
        <td>{{c.Name}}</td>
        <td><button (click)="deleteEnrolledCourse(c)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
    </tr>
</table> 
<ng-template #e>
    <h3>You haven't enrolled in any courses </h3>
</ng-template>
<label for="exampleInputEmail1" class="form-label">Add Course: </label>
    <select (change)="onCourseChange($event)" [(ngModel)]="SelectedCourse">
        <option value="default"></option>  
        <!-- <option>Choose Course</option>   -->
        <option *ngFor="let course of userCourses" [selected] ="false">
            <!-- {{course}} -->
            <!-- <a class="dropdown-item" href="#">{{course}}</a> -->
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  {{course.Name}}
                </a>
            </div>              
        </option>
    </select>
</div>
<div class="container">
<div *ngIf="isPassportData;else t">
<!-- <h3 *ngIf="isPassportData;else t">Passport details 
    <h5>{{passport.PassportID}}</h5>
    <h5>{{passport.ExpiryDate}}</h5>
</h3> -->
<button type="button" class="btn btn-info btn-lg" (click)="openModalForPassport()">View Passport Details</button>
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayPassport}">
         <div class="modal-dialog" role="document">
               <div class="modal-content">
                     <div class="modal-header">
                           <h4 class="modal-title">Your Passport Details</h4>
                           <button type="button" class="close" aria-label="Close" (click)="onCloseHandledForPassport()"><span aria-hidden="true">&times;</span></button>
                         </div>
                <div class="modal-body">
                    <label for="exampleInputEmail1" class="form-label">Passport ID :</label>{{passport?.PassportID}}<br>
                    <label for="exampleInputEmail1" class="form-label">Expiry Date :</label>{{passport?.ExpiryDate}}
                    <button type="button" class="btn btn-info btn-lg" (click)="openUpdatePassportModel(passport)">Update Passport</button>
                    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayUpdatePassportModel}">
                        <form [formGroup]="myGroup"  (ngSubmit)="updatePassport(myGroup)">
                         <div class="modal-dialog" role="document">
                               <div class="modal-content">
                                     <div class="modal-header">
                                           <h4 class="modal-title">Passport</h4>
                                           <button type="button" class="close" aria-label="Close" (click)="closeUpdatePassportModal()"><span aria-hidden="true">&times;</span></button>
                                         </div>
                                <div class="modal-body">
                                    <label for="exampleInputEmail1" class="form-label">Enter New Passport Details</label>
                                    <input type="email"  class="form-control" id="exampleInput" formControlName="updatedPassportID"
                                        aria-describedby="emailHelp" >
                                        <div class="alert alert-danger" *ngIf="myGroup.get('updatedPassportID')?.hasError('required') && (myGroup.get('updatedPassportID')?.dirty || myGroup.get('updatedPassportID')?.touched)">
                                            Please provide a passport ID.
                                      </div>
                                      <div class="alert alert-danger" *ngIf="myGroup.get('updatedPassportID')?.hasError('min') && (myGroup.get('updatedPassportID')?.dirty || myGroup.get('updatedPassportID')?.touched)">
                                        Please provide a passport ID greater than 100.
                                        </div>
                                      <ngb-datepicker #dp formControlName="updateExpiryDateForPassport" (navigate)="date = $event.next"></ngb-datepicker>
                                         </div>
                                     <div class="modal-footer">
                                           <button type="submit" class="btn btn-default" [disabled]="myGroup.invalid">Update Passport</button>
                                         </div>
                            </div>
                             </div>
                            </form>
                 </div>
                         </div>
                     <div class="modal-footer">
                           <button type="button" class="btn btn-default" (click)="onCloseHandledForPassport()" >Close</button>
                         </div>
            </div>
             </div>
 </div>
</div>
<ng-template #t>
    <!-- You haven't issued for passport -->
    <button type="button" class="btn btn-info btn-lg" (click)="openModalForPassport()">Add Passport Details</button>
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayPassport}">
        <form [formGroup]="addPassportForm"  (ngSubmit)="addPassport(addPassportForm)">
         <div class="modal-dialog" role="document">
               <div class="modal-content">
                     <div class="modal-header">
                           <h4 class="modal-title">Passport Details</h4>
                           <!-- <button type="button" class="close" aria-label="Close" (click)="onCloseHandledForPassport()"><span aria-hidden="true">&times;</span></button> -->
                         </div>
                <div class="modal-body">
                    <label for="exampleInputEmail1" class="form-label">Passport ID :</label>
                    <input type="email"  class="form-control" id="exampleInputEmail1" formControlName="addPassportID"
                    aria-describedby="emailHelp" >
                    <div class="alert alert-danger" *ngIf="addPassportForm.get('addPassportID')?.hasError('required') && (addPassportForm.get('addPassportID')?.dirty || addPassportForm.get('addPassportID')?.touched)">
                        Please provide a passport ID.
                  </div>
                  <div class="alert alert-danger" *ngIf="addPassportForm.get('addPassportID')?.hasError('min') && (addPassportForm.get('addPassportID')?.dirty || addPassportForm.get('addPassportID')?.touched)">
                    Please provide a passport ID greater than 100.
                    </div>
                    <ngb-datepicker #dp  (navigate)="date = $event.next" formControlName="addExpiryDateForPassport"></ngb-datepicker>
                         </div>
                     <div class="modal-footer">
                           <button type="submit" class="btn btn-default" [disabled]="addPassportForm.invalid" >Add Details</button>
                         </div>
            </div>
             </div>
            </form>
 </div>
</ng-template>
</div>
<hr>
<div class="container">
    <button type="button" class="btn btn-info btn-lg" (click)="goToCourse()">Manage Courses</button>
</div>
