 <div>
<h2>Child to Parent </h2>
<div width="400px">
<ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
</div>
</div>
<br /> 
 


<!-- <h2>Parent to Child</h2>
<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
</ng-template>


<div [style.width]="getOuterDivWidth()" [style.overflow]="visible">
<div [style.width]="getInnerDivWidth()" >
<ngb-rating [(rate)]="rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
</div>
</div>
<hr>  -->











<!-- <h2>Parent to Child</h2>
<div [style.width]="getOuterDivWidth()" [style.overflow]="visible">
<div [style.width]="getInnerDivWidth()" >
<ngb-rating [(rate)]="rating" [readonly]="false" [max]="5"></ngb-rating>
</div>
</div>
<hr> -->




<!-- <div>
    <i class="fa fa-star"></i>
    <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>
    <i *ngFor="let star of stars" [class]="getIconClass(star)"></i>
</div>


<hr>
<hr> -->