<p> The server {{id}} is {{getStatus()}} </p>
<input type="text" class="form-control" [(ngModel)]="userName">
<p>{{userName}}</p>
<button class="btn btn-primary" [disabled]="getIsUserEmpty()" (click)="onAssignment()">Add username</button>
<button class="btn btn-primary" [disabled]="!allowAddServer" (click)="onClick()">Add server {{allowAddServer}}</button>
<p *ngIf="serverCreated else noServer" [ngStyle]="{backgroundColor:getColor()}" 
[ngClass]="{online : getStatus()==='online'}">{{msg}}</p>
<ng-template #noServer >
    <p [ngStyle]="{backgroundColor:getColor()}">
        No server was created 
    </p>
</ng-template>
<button class="btn btn-primary" (click)="show = !show">Toggle me</button>
<p *ngIf="show">hi good evening</p>
<button class="btn btn-primary" (click)="addLogs()">Add Logs</button>
<div *ngFor="let i of logs; let ind=index" [ngStyle]="{backgroundColor: ind >=4 ? 'blue':'transparent'}" [ngClass]="{online: ind>=4}">{{i}}
</div>

