<app-header></app-header>
<!--<h1>{{welcome}}</h1>

<p>Today is {{today | date}}</p>
<p>Or if you prefer, {{today | date:'fullDate'}}</p>
<p>The time is {{today | date:'h:mm a z'}}</p>
<p>Month is {{today | date:'M'}}</p>
<p>My name is {{name | uppercase}} using upper case pipes</p>
<p>My name is {{name | lowercase}} using lower case pipes</p>
<p>Currency In dollars : {{a | currency}}</p>
<p>Currency in INR : {{a | currency:'INR':'symbol-narrow':'4.2-2'}}</p>
<p>Pi value using number pipe :{{pi | number:'4.1-5'}}</p>-->

<!--<p>Date Time app {{dateTime}}</p>-->
<!--<h2 *ngIf="show;else elseBlock">Date Time app {{dateTime}}</h2>
<ng-template #elseBlock><h2></h2></ng-template>
<br>
<button (click)="toggleClock()">Toggle</button>
<p>File size using custom pipe {{ file.size | filesize:"MB" }}</p>
<custom-root></custom-root>-->
<div class="test">
    <span>Good Morning !!</span>
</div>
<!--<img [src]="'../assets/scenery.jfif'" />--> <!-- Showing default with string value-->
<!--<img [src]="imgURL"/>-->
<app-spinner></app-spinner>
<app-footer></app-footer>