<!-- <app-header></app-header>
<h1>{{name | uppercase}}</h1> -->
<!-- <app-spinner></app-spinner>
<app-looping [parentData]=data></app-looping>
<a (click)="changeFromParent()">Change from parent</a>
<hr> -->
<!-- <h1>{{name | lowercase}}</h1>
<h1>{{name | titlecase}}</h1>
<h2>{{count}}</h2>
<button (click)="clickedMe()">click</button>
<hr>
<h2>{{32/12 | number:'4.1-5'}}</h2>
<h2>{{a | currency}}</h2>
<h2>{{a | currency:'INR':'symbol':'4.2-2'}}</h2>
<h2>{{a | percent}}</h2>
<h2>Custom Pipe Adder- {{2 | Adder:12}}</h2>

<app-clock></app-clock>
<hr>
<app-test></app-test> -->
<!-- <app-greeting></app-greeting>
<app-two-way></app-two-way>
<br/>
<app-paint-task></app-paint-task> -->
<!-- <app-student></app-student> -->
<!-- <app-hooks></app-hooks> -->
<!-- <app-observable></app-observable> -->
<app-login></app-login>
<!-- <app-footer></app-footer> -->
