
<div class="container" style="margin:10px;">
    <!-- <button class="btn btn-success" style="margin-bottom:10px;" (click)=showAddHobbyForm()><i class="fa fa-plus" aria-hidden="true"></i>Add New</button> -->
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>File Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of files.ReadList!">
            <!-- <td>{{file.ID}}</td> -->
            <td>{{file.FileName}}</td>
            <td>
                <button class="btn btn-success" (click)="openEditModal(file,'r')" style="margin-right:10px;"><i class="fa fa-book" aria-hidden="true"></i>Read</button>
                <!-- <td><button (click)="openUpdateHobbyModal(hobby)"><i class="fa fa-edit"></i></button></td> -->
                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayEditModal}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">File Data</h4>
                                    <button type="button" class="btn btn-default" aria-label="Close" (click)="closeEditModal()"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </div>
                                <div class="modal-body">
                                    <p>{{fileData}}</p>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- <span style="width:20px;"></span>
                <button class="btn btn-danger" (click)="deleteHobby(hobby.ID!)"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
            </td>
        </tr>
        
        </tbody>
    </table>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>File Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of files.WriteList!">
            <!-- <td>{{file.ID}}</td> -->
            <td>{{file.FileName}}</td>
            <td>
                <button class="btn btn-warning" (click)="openEditModal(file,'w')" style="margin-right:10px;"><i class="fa fa-pencil" aria-hidden="true"></i>Write</button>
                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayWriteModal}">
                    <form [formGroup]="writeForm" (ngSubmit)="writeFormSubmit(writeForm)">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Write Form</h4>
                                    <button type="button" class="btn btn-default" aria-label="Close" (click)="closeWriteModal()"><i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                </div>
                                <div class="modal-body">
                                    <label for="exampleInputEmail1" class="form-label">Enter data to append-</label>
                                    <input type="text" class="form-control" id="data" formControlName="data">
                                    <div class="alert alert-danger"
                                        *ngIf="writeForm.get('data')?.hasError('required') && writeForm.get('data')?.touched">
                                        Please provide data.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-warning" [disabled]="writeForm.invalid">Write</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- <span style="width:20px;"></span>
                <button class="btn btn-danger" (click)="deleteHobby(hobby.ID!)"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
            </td>
        </tr>
        
        </tbody>
    </table>
</div>

<div class="alert" *ngIf="message.status!=''" [ngClass]="{'alert-success': message.status === 'success', 'alert-danger' : message.status === 'error' }">
    {{message.text}}<button (click)="cancel()" style="float:right" class="btn" [ngClass]="{'btn-success': message.status === 'success', 'btn-danger' : message.status === 'error' }"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>


<!-- <div *ngIf="editData.mode!=''">
    <hr>
    <form [formGroup]="hobbyEditForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" formControlName="name" class="form-control" id="name">
          <div class="alert alert-danger" *ngIf="hobbyEditForm.get('name')?.hasError('required') && hobbyEditForm.get('name')?.touched">Hobby Name is Required</div>
          <div class="alert alert-danger" *ngIf="hobbyEditForm.get('name')?.hasError('maxlength') && hobbyEditForm.get('name')?.touched">Hobby Name max length should not exceed 20 characters</div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-right:20px;" [disabled]="hobbyEditForm.invalid"><i class="fa fa-check-circle-o" aria-hidden="true"></i>{{ editData.mode }}</button>
        <button class="btn btn-secondary" (click)="cancelEdit()"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
    </form>
</div>

<div class="alert" *ngIf="message.status!=''" [ngClass]="{'alert-success': message.status === 'success', 'alert-danger' : message.status === 'error' }">
    {{message.text}}<button (click)="cancel()" style="float:right" class="btn" [ngClass]="{'btn-success': message.status === 'success', 'btn-danger' : message.status === 'error' }"><i class="fa fa-times" aria-hidden="true"></i></button>
</div> -->
